<IfModule mod_rewrite.c>
    RewriteEngine On

    # If request not already for /public, redirect into /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>